<!--component html goes here -->
<public-header></public-header>
<div class="container-fluid">
    <div class="col-sm-4 cpl-md-4 col-lg-4">
      <h3>Brands</h3>
      <div style="height: 100px; overflow-y: auto; border: 1px solid gray; padding:5px;">
          <div *ngFor="let brand of brands" style="padding:0; margin: 0">
            <input type="checkbox" style="display: inline-block"/> <label style="display: inline-block">{{brand.name}}</label>
          </div>
      </div>
    </div>
    <div class="col-sm-4 cpl-md-4 col-lg-4">
      <h3>Categories</h3>
      <div style="height: 100px; overflow-y: auto; border: 1px solid gray; padding:5px;">
          <div *ngFor="let category of categories">
            <input type="checkbox" style="display: inline-block"/> <label style="display: inline-block">{{category.name}}</label>
          </div>
      </div>
  </div>
  <div class="col-sm-4 cpl-md-4 col-lg-4">
    <h3>Prices</h3>
    <div style="height: 100px; overflow-y: auto; border: 1px solid gray; padding:5px;">
        <div *ngFor="let price of prices">
          <input type="checkbox" style="display: inline-block"/> <label style="display: inline-block">{{price.name}}</label>
        </div>
    </div>
  </div>
</div>