


<div style="width:100%; margin-left: 0; margin-right:0;">
    <div style="position: relative; overflow: hidden; width:100%" class="row no-gutter">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <home-carousel [imageData]="slideshowImages"></home-carousel>                        
        </div>
        <div class="hidden-xs hidden-sm hidden-md hidden-lg col-lg-3" style="background-color: #fff; position: relative; right:0; border: 0 solid red">
            <div id="DealOfDayProducts" style="width:100%;position: relative;">
               
                <div style="padding:10px; visibility: visible; position: relative;background: url(/Images/GSKC-watermark-bg.png)" class="row">
                    <div class="col-lg-12 featured-item" style="border-bottom: dotted 0 #000000; padding-bottom: 10px; height: 100%; position: relative; background-color: white;">
                        <div style="position:relative; z-index: 1000; top:0; left:0"><img alt="Deal" src="/Images/Deal2.png" /></div>
                        <div style="position:relative; z-index: 999; top:0; left:0; padding-top: 5px;border: 1px solid #fff; width: 100%">

                            <div *ngFor="let product of products"> 
                                <span>{{product.Name}}</span>                           
                                <!--<img ng-if="product.SupplierName == 'GSKC'" ng-src="/Images/Knives/Full/{{product.SKU}}.jpg"  alt="Check out the {{product.ManufacturerName}} {{product.Name}} from our {{product.CategoryName}} collection."
                                title="Check out the {{product.ManufacturerName}} {{product.Name}} from our {{product.CategoryName}} collection." style="width: 100%">                                                               -->
                            </div>
                            <div class="FeaturedKnifeHeaderFont" style="margin-top:10px; text-align: center; font-size: 17px"><!--ko text: products()[5].Name--><!--/ko--></div>
                            <div class="FeaturedKnifeTextFont product-summary" style="margin:10px 0 10px; text-align: left; line-height: 14px"><!--ko text: products()[5].Description--><!--/ko--></div>

                            <div style="position:relative;">
                                <div style="display: inline-block; width:100%;z-index: 1003;position: relative; text-align: center">
                                    <img alt="Deal" src="/Images/SalePriceBG.png" />
                                </div>
                                <div style="display: inline-block; width:100%; z-index: 1004; position: relative; right: 8px; top:-29px; text-align: center">
                                    <span style="color: #FFF; font-size: 1.4em;" data-bind="currency: products()[5].RetailPrice"></span>
                                </div>

                            </div>
                        </div>

                        <div style="clear:both"></div>
                    </div>
                    <div stle="clear: both"></div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div style="padding: 1px;">
        <div style="float:left; padding: 10px; border-right: 0px dotted #000;" class="col-lg-6 col-md-7 col-sm-8 hidden-xs">

            <div style="padding-bottom:7px; padding: 0 10px 0 10px;">
                <h1 class="SpecialsFont">Welcome to Gatlin and Sons Knife Company&trade;</h1>
            </div>

            <div style="text-align:justify;padding: 15px;">
                <p>
                    We carry a broad selection of knives including tactical, utility, hunting, fishing and collectible
                    pocket knives from top-of-the-line brands such as Spyderco, Kabar, SOG, Case, Buck, Gerber, Boker, Kershaw, Smith & Wesson and many many more.
                </p>

                <p>
                    And we don't do just knives!  Are you a hunter, fisherman and/or outdoorsman? If so, then we've got you covered too!
                    We also carry a huge selection of gear/equipment for the outdoor enthusiast.
                </p>

                <div style="text-align:left"><img alt="Have a Knife Day!" src="/Images/HaveAKnifeDay_black.png" style="width: 70px; margin-right: 10px; margin-bottom: 10px;" align="right" />Our GSKC team thanks you for stopping in and as always...</div>

            </div>

            <!-- Begin MAIL CHIMP CODE-->
            <div id="mc_embed_signup" style="border-bottom: 1px dotted #000;border-top: 1px dotted #000; background-color: #F1F1E4; margin-top: 50px; padding: 10px 10px">
                <p>
                    <strong>Subscribe to our mailing list.</strong> <br />
                    Sign up for our mailing list to receive our latest product information and newsletter.
                </p>

                <form action="http://gatlinandsonsknifecompany.us1.list-manage.com/subscribe/post?u=7dddfd0796521ed179b7c28ac&amp;id=81dcc54a69" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div>
                        <div id="mce-responses">
                            <div class="SuccessFont" id="mce-error-response" style="display:none"></div>
                            <div class="SuccessFont" id="mce-success-response" style="display:none"></div>
                        </div>
                        <input name="EMAIL" id="mce-EMAIL" type="text" value="Enter your email address here" size="30" class="form-elements" onclick="this.value = '';">
                        &nbsp;
                        <button class="orange" type="submit" name="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <!-- End MAIL CHIMP CODE-->

            <div>
                <!-- PayPal Logo -->
                <table border="0" style="padding-top:5px" cellspacing="0" align="center">
                    <tr>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img src="https://www.paypal.com/en_US/i/bnr/horizontal_solution_PPeCheck.gif" border="0" alt="Solution Graphics"></a></td>
                    </tr>
                </table>

            </div>
        </div>

        <div style="padding: 0px; float: left;" id="FeaturedProducts" class="col-lg-6 col-md-5 col-sm-4 col-xs-12">
            <div class="section-header hidden-xs">
                <span class="sub-header" style="color:#fff; margin:0">Featured Products</span>
            </div>
            <div class="section-header visible-xs">
                <span class="sub-header" style="color:#fff; margin:0">Deals of the Day</span>
            </div>
            <div>
                <div *ngFor="let product of products"  style="padding:10px; visibility: visible" class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 featured-item" style="margin-bottom:10px; border-bottom: dotted 0 #000000; padding-bottom: 10px; position: relative; height: 245px; background-color: white;">
                        <div style="position:absolute; z-index: 1000; top:0; left:0"><img alt="Deal" src="/Images/Deal.png" /></div>
                       
                        <div style="position:absolute; z-index: 999; top:0; left:0; padding-top: 5px;border: 1px solid #fff; width: 100%">
                            <div style="cursor:pointer; margin: 0 25px;">                                
                                <img *ngIf="product.Id != 'GSKC'" [src]="product.ImageUrl" [alt]="product.Name" class="featured-item-image" />                                
                            </div>
                        </div>
                        <div style="position: absolute; left:0;top:125px; border: 1px solid #fff; width:100%; padding-top:10px">
                        <div class="FeaturedKnifeHeaderFont" style="position: relative;height: 37px">{{product.Name | ellipsis:50}}</div>
                        <div class="FeaturedKnifeTextFont" style="position: relative;margin-top:5px;">{{product.Description | ellipsis:75 }}</div>
 
                        <div class="row" style="margin-top: 10px">
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding: 0">
                                <button style="background: url(Images/gskc-button-icon.png) no-repeat 6px; text-align: right;background-color: #000; border: 0; outline:none; width:100%; margin: 0; height: 37px; padding-right: 10px; border-top-left-radius: 4px; border-bottom-left-radius: 4px">
                                    <span style="font-size: 1.3em;">Price:</span> <span class="OurPriceFont" style="letter-spacing: 1px; color:#FFF; font-size:1.4em; font-style: italic">{{product.RetailPrice | currency:'USD':true:'1.2-2'}}</span>
                                </button>
                            </div>   
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0">             
                                <button style="text-align:center;background-color: #fe9704; border: 0; outline:none; width:100%; margin: 0;height: 37px; border-top-right-radius: 4px; border-bottom-right-radius: 4px">
                                    <span style="font-size: 1.4em;cursor: pointer; color: #000;" class="glyphicon glyphicon-info-sign" title="Click for more information."></span> 
                                </button>
                             </div>
                        </div>                       

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="clear:both"></div>
