<div style="width:100%; padding:20px" id="SupportFAQs">

    <div class="support-faq" style="padding-bottom: 20px;width:100%">
        <p>
            We strive to provide the best customer service
            possible to our customers. To help resolve any questions you may have during your visit with us,
            you will find a list of common questions with answers below. This information will help answer
            questions that may arise regarding ordering, shipping or returns and refunds.
        </p>
        <p>
            In the event that the following information does not help resolve your issue/question,
            please feel free to contact us using our <a href="Index.asp?PageID=5">support request form</a>.
        </p>
    </div>
    
    <div class="topic-header">Ordering</div>

    <accordion [closeOthers]="true">
        <accordion-group>
            <div class="question" accordion-heading>
                <span>Q.</span> I was charged a different amount on my credit card statement than what was shown on the email invoice I received. What
            do I need to do to dispute this?              
            </div>
            <span>A.</span> <span>To confirm the amount charged we will need the order divansaction number and a copy of the bank statement showing the divansaction amount. Please send the above information to <a href="mailto:customersupport@gatlinandsignsknifecompany.com" style="color:gray">customersupport@gatlinandsonsknifecompany.com</a></span>.
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> Can I order products over the phone instead of the website?               
            </div>
            <span>A.</span> <span>Yes, just call (844) 298-GSKC(4752) to speak to one of our friendly customer service representatives.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> How will I know that my order has been received and is being processed?               
            </div>
            <span>A.</span> <span>You will receive an email confirmation of the divansaction immediately after the order is placed online. Once the payment is verified we will begin processing the order for shipment.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> Can I split an order and send it to two different addresses?              
            </div>
            <span>A.</span> <span>Multi-destination shipments are currently not allowed through our checkout system. You will need to place separate orders if you need to ship to multiple destinations.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> How do I know my personal information is secure when ordering online?               
            </div>
            <span>A.</span> <span>All order data (i.e. billing, shipping, credit card information) is entered on secure, PayPal-hosted pages. PayPal is PCI and DSS Compliant so be rest-assured that your sensitive information is safe and secure. Also, as a general rule of thumb, when entering sensitive data always look for the "https" prefix in the address bar of your browser. This lets you know that your divansaction is secure (i.e. data is encrypted to/from PayPal).</span>            
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> Why am I being charged Sales Tax? I thought Internet sales were tax-exempt.              
            </div>
            <span>A.</span><span> Gatlin and Sons Knife Company is based in Indiana so if your billing zip code is a Indiana zip code, then we
            will tax your order; otherwise, your order order is not taxed.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> I order often and do not want to continue to enter my name, address and all other pertinent information. Can I enter the information only once? Can I use it with every order I place?              
            </div>
            <span>A.</span> <span>Once you are ready to checkout you will have the opportunity to create a PayPal account by providing your demographic and credit card information. Once created, the next time you come back to the GSKC website and place an order you will just need to login with your PayPal username/password. If you opt to not create a PayPal account, then you will need to re-eneter all information again on your next order with GSKC.</span>
        </accordion-group>
    </accordion>
    
    <div class="topic-header">Shipping</div>

    <accordion [closeOthers]="true">
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> How can I track my package once it has shipped?              
            </div>
            <span>A.</span> <span>Once your order is process and shipped we will send you a follow-up email with a USPS tracking number and the USPS divacking website location from where you can divack the package.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> Who is the carrier you ship products through? Can I choose a different carrier?              
            </div>
            <span>A.</span> <span>We ship all our product orders through our preferred carrier USPS (United States Parcel Service).</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> Do you offer bundle shipping discounts for multiple products purchased onan order?               
            </div>
            <span>A.</span><span> Yes, we make every attempt to combine multiple product shipments when possible and pass that savings on to our customers.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> How long will it take to receive the product(s) I ordered?           
            </div>
            <span>A.</span> <span>You can expect delivery of your product(s) 5 to 7 days from the date your product(s) was ordered.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> Can you ship to a P.O. Box?               
            </div>
            <span>A.</span> <span>Yes, we ship to P.O. Boxes.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                 <span>Q.</span> Do you ship internationally?          
            </div>
            <span>A.</span> <span>We currently only ship to the United States and Canada.</span>
        </accordion-group>
    </accordion>

    <div class="topic-header">Refunds/Returns</div>

    <accordion [closeOthers]="true">
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> The product was damaged when I received it. How do I return it for a new product?               
            </div>
            <span>A.</span> <span>We feel that each refund/return scenario is unique so we would like to deal with these on an individual basis. If you have a product that needs refunded/returned, then please contact us using our <a href="Index.asp?PageID=5">support request form</a>.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> The product wasn't what I expected. How do I refund the product?              
            </div>
            <span>A.</span> <span>We feel that each refund/return scenario is unique so we would like to deal with these on an individual basis. If you have a product that needs refunded/returned, then please contact us using our <a href="Index.asp?PageID=5">support request form</a>.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> How many days do I have to return my product?            
            </div>
            <span>A.</span> <span>We feel that each refund/return scenario is unique so we would like to deal with these on an individual basis. If you have a product that needs refunded/returned, then please contact us using our <a href="Index.asp?PageID=5">support request form</a>.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> Can I return the product direct to the manufacturer or do I need to go through GSKC?                        
            </div>
            <span>A.</span> <span>We feel that each refund/return scenario is unique so we would like to deal with these on an individual basis. If you have a product that needs refunded/returned, then please contact us using our <a href="Index.asp?PageID=5">support request form</a>.</span>
        </accordion-group>
        <accordion-group>
            <div class="question"  accordion-heading>
                <span>Q.</span> The products manufacturer's warranty has expired. Can I still return/refund the product through GSKC?            
            </div>
            <span>A.</span> <span>We feel that each refund/return scenario is unique so we would like to deal with these on an individual basis. If you have a product that needs refunded/returned, then please contact us using our <a href="Index.asp?PageID=5">support request form</a>.</span>
        </accordion-group>
    </accordion>
</div>



      
